version: 2
jobs:
  deploy:
    machine:
      enabled: true
    steps:
      - add_ssh_keys
      - run:
          name: Deploy Over SSH
          command: |
            - run: scp -r ./public/* ubuntu@78.141.222.65:/var/www/html/

workflows:
  version: 2
  deploy:
    jobs:
      - deploy:
          filters:
            branches:
              only: master
